body {
  background-color: #7ec5bc;
  font-family: "Press Start 2P", cursive;
}
h1 {
  color: #454655;
  text-align: center;
}
h2 {
  color: #454655;
  text-align: center;
}
.buttonRow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4.5%;
  width: 100%;
  height: 200px;
}

.buttonRow input:hover {
  transform: scale(1.1);
}

.scoreLabel {
  display: flex;
  justify-content: space-evenly;
}

.score {
  display: flex;
  justify-content: space-evenly;
}

.score div {
  width: 100px;
  height: 130px;
  border: 7px solid #efc94a;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 12px;
  background-color: #eae6cc;
  border-radius: 1%;
}

#cpuScore {
  margin-left: 55px;
}
#playerScore {
  margin-left: 20px;
}

#messagelabel {
  display: flex;
  justify-content: center;
}
#messageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: 5px solid rgb(27, 27, 31);
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
